/*  Styles for Homework the 3 assignment 8 - working with components, props, and styling
    Author: 
*/
h1, h2 {
    text-align: center;
  }
  
  /* book CSS */
  #container {
    padding: 50px;
    background-color: #fff;
  }
  
  /* cardrow class for displaying cards horizontally */
  .cardrow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
  }
  
  /* info ID for displaying message information */
  #info {
    margin: 40px 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 5px solid #3357FF;
    border-radius: 5px;
  }
  
  /* ID that centers the validation text */
  #validation {
    text-align: center;
  }
  
  /* add a margin around the entire footer */
  footer {
    margin: 50px;
  }
  